@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: var(--text-color);
}

section {
    padding: 4rem 0 2rem;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.contain {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon {
    color: var(--text-color);
}

.navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.log {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
}

.log span {
    color: var(--main-color);
}

.navb {
    display: flex;
    column-gap: 5rem;
    margin-bottom: 0%;
    padding-left: 2.5rem;
}

.navb a {
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}

.navb a:hover,
.navb .active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
}

.search-box {
    position: relative;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active {
    clip-path: circle(144% at 100% 0%);
    transform: 0.2s;
}

.search-box input {
    width: 350px;
    height: 45px;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}

.button {
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    text-decoration: none;
    border-radius: 9px;
}

.button:hover {
    background: #fd052f;
    color: #fff;
}